cmake-build-debug
cmake-build-release
build
*.a
*.so
*.o
*.ko
.gf.ko.cmd
.gf.mod.cmd
.gf.mod.o.cmd
.gf.o.cmd
gf.mod
gf.mod.cmake
gf.mod.o
Module.symvers
modules.order
test
.vscode
.idea
lulesh2.0
CoMD-mpi
test_HPCCG